<div id="navbar-top">
<header class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/">Crambox</a>
      <nav>
        <div class="navlinks">
          <ul class="nav pull-left">


            <% if request.path == '/' %>
            
              <% if !current_user %>
                <li id="activelink"><%= link_to "Home",    '/' %></li>
              <% else %>
                <li id="activelink"><%= link_to "Launchpad",    '/' %></li>
              <% end %>
            <% else %>
              <li><%= link_to "Home",    '/' %></li>
            <% end %>
            

        <% if !current_user %>
            <% if request.path == '/about' %>
              <li id="activelink"><%= link_to "About",    '/about' %></li>
            <% else %>
              <li><%= link_to "About",    '/about' %></li>
            <% end %>

            <% if request.path == '/contact' %>
              <li id="activelink"><%= link_to "Contact", '/contact' %></li>
            <% else %>
              <li><%= link_to "Contact", '/contact' %></li>
            <% end %>

        <% else %>
            <% if request.path == '/friends' %>
              <li id="activelink"><%= link_to "Friends",    '/friends' %></li>
            <% else %>
              <li><%= link_to "Friends",    '/friends' %></li>
            <% end %>

            <% if request.path == '/groups' %>
              <li id="activelink"><%= link_to "Groups", '/groups' %></li>
            <% else %>
              <li><%= link_to "Groups", '/groups' %></li>
            <% end %>


        <% end %>

        
          </ul>
        </div>
      </nav>
          <% if user_signed_in? %>



            <ul class="nav pull-right">
              <% if current_user.uid.nil? %>
                <li><%= image_tag("default_user.png", :id => "headerprofilepic")%></li>
              <% else %>
                <li><img id="headerprofilepic" src=<%= current_user.image %>></img></li>
              <% end %>
              <li><%= link_to current_user.name %></li>
              <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
            </ul>


          <% else %>

          <div class="navlogin pull-right">
            <%= form_for("user", :url => user_session_path, :html => { :class => "navbar-form"}) do |f| %>
              <%= f.text_field :email, :placeholder => "Email" %>
              <%= f.password_field :password, :placeholder => "Password" %>
              <%= f.submit 'Login', :class => "btn-mini btn" %>
              <%= link_to user_omniauth_authorize_path(:facebook), :class => "btn btn-primary" do %>
                <i id="fbloginicon" class="icon-facebook"> </i> Login
              <% end %>

            <% end %>
          </div>
          <% end %>

      </nav>
    </div>
  </div>
</header>
</div>