<header class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/">Crambox</a>
      <nav>
        <div class="navlinks">
          <ul class="nav pull-left">


            <% if request.path == '/' %>
              <li id="activelink"><%= link_to "Home",    '/' %></li>
            <% else %>
              <li><%= link_to "Home",    '/' %></li>
            <% end %>
            

        <% if !current_user %>
            <% if request.path == '/about' %>
              <li id="activelink"><%= link_to "About",    '/about' %></li>
            <% else %>
              <li><%= link_to "About",    '/about' %></li>
            <% end %>

            <% if request.path == '/contact' %>
              <li id="activelink"><%= link_to "Contact", '/contact' %></li>
            <% else %>
              <li><%= link_to "Contact", '/contact' %></li>
            <% end %>

        <% end %>

        
          </ul>
        </div>
      </nav>
          <% if user_signed_in? %>


            <ul class="nav pull-right">
              <li><%= link_to current_user.email %></li>
              <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
            </ul>


          <% else %>

          <div class="navlogin">
            <%= form_for("user", :url => user_session_path, :html => { :class => "navbar-form"}) do |f| %>
              <%= f.text_field :email, :placeholder => "Email" %>
              <%= f.password_field :password, :placeholder => "Password" %>
              <%= f.submit 'Login', :class => "btn" %>
            <% end %>
          </div>
          <% end %>



      </nav>
    </div>
  </div>
</header>
